<ion-view view-title="Design Your Piece">
  
  <ion-content class="padding" controller="SendQuoteController">
    <img ng-src="img/{{furnitureItem.face}}" style="width:100%">
      <div id="divChosenPalletteItems"><a href="#/tab/sendquote">Save &gt;</a></div>
    <p class="FurnitureItemDescription">
      {{furnitureItem.lastText}}
        <div><img src="img/spi_1.png" border="0"><img src="img/spi_2.png" border="0"><img src="img/spi_3.png" border="0"></div>
    </p>
    <p><img src="img/pallette/antique black.png" width="220" height="220">
<img src="img/pallette/antique black walnut.png" width="220" height="220">
<img src="img/pallette/antique dark rum.png" width="220" height="220">
<img src="img/pallette/antique gold.png" width="220" height="220">
<img src="img/pallette/antique mahogany.png" width="220" height="220">
<img src="img/pallette/belle sapphire.png" width="220" height="220">
<img src="img/pallette/canvas cork.png" width="220" height="220">
<img src="img/pallette/canyon bamboo.png" width="220" height="220">
<img src="img/pallette/canyon curry.png" width="220" height="220">
<img src="img/pallette/charade chocolate.png" width="220" height="220">
<img src="img/pallette/classic linen spice.png" width="220" height="220">
<img src="img/pallette/countess chili.png" width="220" height="220"></p>


    

    </div>

  </ion-content>
</ion-view>
