<ion-view view-title="Save & Quote<br> Some stuff" />

  <ion-content style="background-color: #fff;">
      <p class="TitleAdditional">Just a Little Information<br><br><br><br<br></p>
      
      <div class="list">
      
      <input id="txtName" type="ng-text" placeholder="Name" ng-model="user" /><br>
      <input id="txtECmail" type="ng-text" placeholder="Email" ng-model="user" />
      <input id="txtAddress2" type="ng-text" placeholder="Address 1" ng-model="user" />
      <input id="txtAddress2" type="ng-text" placeholder="Address 2" ng-model="user" />
      <input id="txtFirstName" type="ng-text" placeholder="City" ng-model="user" />
    
        <input id="txtFirstName" type="ng-text" placeholder="State" ng-model="user" />
        <input id="txtFirstName" type="ng-text" placeholder="Zip" ng-model="user" />

    </div>
    <ion-list>
        <p>Share my design</p>
      <ion-toggle  ng-model="settings.enableFriends">
        Pinterest
      </ion-toggle>
      <ion-toggle>
       FaceBook
      </ion-toggle>
        <ion-toggle>
       Email
      </ion-toggle>
      
        
        
    </ion-list><br>
      <a href="#/tab/funnel">
      <div class="divButton">Send My Request</div>
      </a>
      <br><br><br>
  </ion-content>
</ion-view>