<ion-view view-title="Choose A Piece">
  <ion-content style="background-color: #fa5049;">
    <ion-list style="background-color: #fa5049;">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="furnitureItem in furnitureItems" type="item-text-wrap" href="#/tab/dash/{{furnitureItem.id}}">
            <div><img ng-src="img/{{furnitureItem.face}}" border="0" class="FurnitureSearchResultImage"></div><div id="FurnitureSearchResultTitle">{{furnitureItem.name}}</div>
            <p class="FurnitureSearchResultText">{{furnitureItem.lastText}} &nbsp;Design &nbsp; <i class="icon ion-chevron-right icon-accessory"></i>
            </p>
        </div>

      </ion-item>
    </ion-list>

    {{furnitureItems[0].lastText}}
    
  </ion-content>
</ion-view>