/* Empty. Add your own CSS if you like */
body {
    cursor: url('../img/finger.png'), auto;
    background-color: #f05a49;
}

.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #f05a49;

}
.frame_look_feel {
    background-color: #f05a49;
}

p.TitleAdditional {
    background-color: #f05a49;
    color: #fff;
    font-size: 38px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    padding: 4px;
    padding-top: 10px;
    text-align:center;
    font-weight: normal;
}


.list .item.item-accordion {
    
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;, 
}

div.title.title-center.header-item, button-clear, header-item, ion-header-bar, ion-header-bar.bar-stable.bar.bar-header.disable-user-behavior, button back-button hide buttons  button-clear header-item
{
    background-color: #f05a49;
    color: #fff;
}

img.FurnitureSearchResultImage
{
 width: 100%;
    background-color: #ffffff;
    
}

input
{
    width: 70%;
    height: 24px;
    margin-bottom: 20px;
    margin-left: 60px;;
    margin-right: auto;
}

ion-content
{
 margin: 0px;
 padding: 0px;
}

div#FurnitureSearchResultTitle.ng-binding
{
  font-weight: normal;
   font-size: 22px;
   background-color: #fff;
   padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
}

p.FurnitureSearchResultText.ng-binding
{
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    word-wrap: normal;
    white-space: normal;
    font-size: 18px;
}

p.FurnitureItemDescription.ng-binding
{
    background-color: #fff;
    padding: 4px;
}

div.scroll
{
    background-color: #fff;   
}
div.tab-nav
{
    display: none;   
}

input#cmdSendEmail.button.button-positive
{
    background-color: #fff;
    color: #f05a49;
    border: 0px;
    float: right;
    display: inline-block;
    clear: none;
}




div.title.title-center.header-item
{
  font-size: 22px;   
}

p{
 margin-left: 60px;
    font-size: 20px;
}

label.toggle.disable-user-behavior
{
    background-color: #fff;
    color: #f05a49;
}

div.item.item-toggle.toggle-large
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: #fff;
    color: #f05a49;
    clear: none;
}

div.list
{
    background-color: #fff;   
}

div.divButton
{
    background-color: #f05a49;
    color: #fff;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    padding: 6px;
    padding-left: 10px;
    pading-right: 10px;
    text-align:center;
    font-weight: normal;
    text-decoration: none;
    width: 400px;
}